<div class="create-kit-wrap">
	<h1 class="main-title">Create an Audio Kit!</h1>

	<%= form_for @audio_kit do |f| %>
	<div class="kit-form">
		<p>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :description %>
			<%= f.text_field :description %>
		</p>
		<%= f.hidden_field :creator_id, value: current_user.id %>
		<%= f.submit 'Create Audio Kit' %>
	</div>
	<% end %>

</div>