<h1 class="new-sound-title">Add a New Sound!</h1>

<%= form_for @sound do |f| %>
	<div class="new-sound-form">
		<%= f.label :title %>
		<%= f.text_field :title %>
		<br>
		<%= f.label :audio_file %>
		<%= f.file_field :audio_file %>
		<br>
		<%= f.submit 'Add Sound' %>
	</div>
<% end %>	